version: "2"

services:
  uwsgi:
    build: ./django
    command: /usr/local/bin/uwsgi /uwsgi.ini 
    volumes:
      - "/home/ryuno/Desktop/docker-django/webapp/:/webapp"

  nginx:
    build: ./nginx
    depends_on:
      - uwsgi
    volumes_from:
      - uwsgi
    ports:
      - "0.0.0.0:8000:80"
